#Prueba de evaluación de conocimientos

##Tipo de datos
1.Númerico
- Entero: integer int
- Decimal:float
2. Alfanúmerico o cadena de caracteres
(String - str)
3. Lógico>: Boolean - bool
4. Lista: list []
5. Diccionario: dict {}

Para saber que tipo de datos estamos manipulando se usan la función type()

In [ ]:
5+3*4

17

In [ ]:
type(5+3*4)

int

In [ ]:
print(f"5+3*4={5+3*4}y da como resultado un valor de tipo {type(5+3*4)}")

5+3*4=17y da como resultado un valor de tipo <class 'int'>

In [ ]:
#Cuando se usa + en strings , sucede la concatenación
"5"+"3"*2

'533'

In [ ]:
#= asignacion , == es comparacion
2 ** 11 == 1000

False

##Operaciones logicas
1. Disyunción (o): Una proposición es verdadera , si al menos una de ella lo es. En python se puede enunciar con la palabra **or** o con **||**. Ejemplo: V OR V DA V. V OR F DA V. F OR V DA V. F OR F DA F.
2. Conjunción (Y): Una preposición es verdadera , si Y SOLO SI, ambas preposiciones son veraderas. En python, se utiliza la palabra **and** o **&&** para su uso. Ejemplo: F and F da F; F and V da F; V and F da F; V and V da V
3. Negación (no): Niega el valor de verdad de una preposición . Si el valor de verdad es true, se vuelve false. En python ese usa la palabra **not** o ~ para denotarla

In [ ]:
a=2 ** 11 == 1000 or 2 ** 9 == 100

In [ ]:
print(f"2 ** 11 == 1000 or 2 ** 9 == 100={2 ** 11 == 1000 or 2 ** 9 == 100} y da como resultado un valor de tipo {type(2 ** 11 == 1000 or 2 ** 9 == 100)}")

2 ** 11 == 1000 or 2 ** 9 == 100=False y da como resultado un valor de tipo <class 'bool'>

In [ ]:
print(f"El valor de la expresión a=2 **11 == 1000 or 2 ** 9 == 100 es {a}")

El valor de la expresión a=2 **11 == 1000 or 2 ** 9 == 100 es False

In [ ]:
#colocar un tipo de dato antes del dato , se usa para transformar el dato dentro del parentesis eb el dato por fuera del parentesis
int("cincuenta")

ValueError: invalid literal for int() with base 10: 'cincuenta'

In [ ]:
int("50")

50

In [ ]:
#Siempre que halla una division el resultado dará flotante o decimal
16/16 + 384/24

17.0

In [ ]:
print(f"16/16 + 384/24={16/16 + 384/24} y da como resultado un valor de tipo {type(16/16 + 384/24)}")

16/16 + 384/24=17.0 y da como resultado un valor de tipo <class 'float'>

In [ ]:
0 < (4096 % 10) < 6

False

In [ ]:
'Max' + 'Min'

'MaxMin'

In [ ]:
print(f"'Max' + 'Min'={'Max' + 'Min'} y da como resultado un valor de tipo {type('Max' + 'Min')}")

'Max' + 'Min'=MaxMin y da como resultado un valor de tipo <class 'str'>

In [ ]:
#ABC() es una funcion no definida
ABC() * DEF()

NameError: name 'ABC' is not defined

In [ ]:
float(-int("7")+int('90'))

83.0

In [ ]:
abs(len('seis') - len('tres'))

0

abs(len('seis') - len('tres'))

1. abs = valor absoluto
2. len = cuenta la cantidad de letras de un string

- len('seis')=4
- len('tres)=4

In [ ]:
#Todos los números a excepción de 0 , da true al convertirlos en booleanos
bool(1210) or bool(-3465)

False

In [ ]:
#Todos los string son listas, por ende, podemos conocer la posición de cada uno de sus elementos, en python se empiexa contando desde 0
str(296.0) [3]

In [ ]:
float(str(int('8'*3)/3)[3])

ValueError: could not convert string to float: '.'